html {
  background-color: black;
  text-align: center;
}
h1{
  font-family: Vernanda;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.link{
  color: aquamarine;
  font-size: 16px;
  font-style: underline;
}
h2{
  font-family: Vernanda;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
h3{
  font-family: Vernanda;
  font-size: 21px;
  color: gray;
}
#copyright{
  text-align: right;
  color: gray;
}
