h1{
  color: white;
  font-family: Helvetica;
  opacity: .75;
  text-align: center;
  padding: 20px;
}
h1 a{
  color: rgb(153,204,255);
}

p{
  font-family: Helvetica;
  font-size: 18px;
  color: gray;
  width: 500px;
  max-height: 200px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 20px;
  padding: 25px;
  overflow: scroll;
}
ul{
  list-style-type: none;
  text-align: center;
  color: rgb(153,204,255);
  display: flex;
  justify-content: space-around;
  right: 20px;
}
li{
  font-family: Helvetica;
  font-size: 20px;
}
li:hover{
  color: gray;
}
footer{
  color: white;
  font-family: Helvetica;
  background-color: rgb(153,204,255);
  opacity: .75;
  position: relative;
  top: 30px;
}
#picture img{
  width: 155px;
  height: 155px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  border: rgb(153,204,255) solid 3px;
  padding: 20px;
}
#resume img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: scroll;
  width: 700px;
  height: 1000px;
}
#navigation a{
  text-decoration: none;
}
a{
  color: rgb(153,204,255);
}
a:hover{
  color: gray;
}


#doods img{
  max-width: 700px;
  max-height: 700px;
}
.proj2{
  text-align: left;

}
#proj h1{
  background-color: transparent;
  color: black;
}
#proj h3{
  text-align: center;
}
.box{
  border: rgb(153,204,255) 3px;
}
#title{
  color: black;
}
#proj a{
  color: rgb(153,204,255);
}
#proj a:hover{
  color: lightgray;
}
#proj p{
  margin: auto;
  position: relative;
  bottom: 20px;
}
